
// ------------------------------ SASS

// ------------------------------------ helpers

@import "sass/helpers/reset";
@import "sass/helpers/clearfix";
@import "sass/helpers/typesize";
@import "sass/helpers/fonts";
@import "sass/helpers/variables";
@import "sass/helpers/box-sizing";
@import "sass/helpers/placeholders";
@import "sass/helpers/mixins";
@import "sass/helpers/images";
@import "sass/components/icons";

/* ----------------------------- BASE
*/

html {
  font-size: 16px;
}

body {
  background-color: $background_color;
  color: $text_color;
}
a {
  display: block;
  text-decoration: none;
  color: $text_color;
  &:hover {
    color: $text_color_light;
  }
}

/* ----------------------------- LAYOUT
*/

.wrapper_8 {
  padding: 8px;
}

/* ----------------------------- MODULES
*/

.header {
  width: 100vw;
  height: $header_height;
  border-bottom: 1px solid $border_color;
  .header__icon {
    display: block;
    float: left;
    width: 55px;
    height: $header_height;
    line-height: $header_height;
    text-align: center;
  }
  .header__logo {
    position: relative;
    float: left;
    width: calc(100% - 2 * 55px);
    height: $header_height;
    img {
      width: 65px;
      height: $header_height;
      margin: 0 auto;
    }
  }
}

/* ------------------------------------ ion icons
*/

.ion-ios-search-strong {
  font-size: 20px;
}
.ion-ios-circle-outline {
  font-size: 1.8rem;
  position: absolute;
  right: 15px;
  top: 1px;
}
.ion-navicon {
  font-size: 2.3rem;
}
.ion-ios-close-empty {
  font-size: 3rem;
}

/* ------------------------------------ menu
*/

.menu {
  position: relative;
  height: 254px;
  background-color: $background_color_elements;
  border-bottom: 1px solid $border_color;
  .menu__block {
    padding: 16px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .menu__block_left {
    @extend .menu__block;
    float: left;
    width: 62.5%;
  }
  .menu__block_right {
    @extend .menu__block;
    float: left;
    width: 37.5%;
    min-height: 254px;
    border-left: 1px solid $border_color;
    text-transform: capitalize;
    font-size: 10px;
  }
  .menu__block_middle {
    @extend .menu__block;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .menu__link {
    padding: .6em 0;
    $amount: .4;
    color: fade-in($text_color, $amount);
  }
  .menu__link_right {
    @extend .menu__link;
    color: $text_color
  }
  .menu__link_feat {
    padding-top: 1em;
    @extend %feature;
  }
}

/* ------------------------------------ search
*/
.search {
  background-color: $background_color_elements;
  border-bottom: 1px solid $border_color;
  padding: 16px;
  clear: both; //clear floats before so its style dont bleed onto the top header - background-color
  .search__input {
    width: 100%;
    padding: 4px 0;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: $border_color;
    background: transparent;
    font-size: 1.05rem;
    letter-spacing: .01rem;
    color: $text_color_light;
    outline: 0;
    transition: border-color 0.15s linear;
    &:focus {
      border-width: 0 0 1px;
      border-style: solid;
      border-color: $border_color_light;
    }
  }
}
/* ------------------------------------ hero
*/

.hero {
  background-color: $background_color_elements;
  .hero__text {
    padding: 16px 12px;
    font-size: 0.8rem;
    .hero__header {
      @extend %small-caps-header;
      padding-bottom: 1px;
      font-size: 0.65rem;
    }
    .hero__ep-title {
      font-size: 1.1rem;
      text-transform: capitalize;
      font-weight: 300;
      letter-spacing: 0.021em;
      color: #fff;
    }
    .hero__synop {
      padding: 16px 0;
      font-weight: 300;
      color: $text_color_light;
    }
    .hero__link {
      @extend %feature;
      text-align: right;
      .hero__link_text {
        display: inline-block;
        vertical-align: top;
        font-size: 0.62rem;
        letter-spacing: 0.12rem;
        line-height: 1.5rem;
        height: 1.5rem;
        text-transform: uppercase;
      }
      .hero__link_arrow {
        display: inline-block;
        vertical-align: top;
        font-size: 1.2em;
        line-height: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}

/* ------------------------------------ schedule
*/

.schedule {
  padding: 16px 12px;
  .schedule__item {
    padding-top: 12px;
  }
  .schedule__header {
    @extend %feature;
    @extend %small-caps-header;
    font-size: 0.7rem;
  }
  .schedule__time {
    font-size: 0.8rem;
    font-weight: 300;
    @extend %small-caps;
    .schedule__time_sup {
      position: relative;
      top: -0.27em;
      font-size: 0.7em;
    }
  }
  .schedule__title {
    padding-bottom: 12px;
    border-bottom: 1px solid $border_color;
    font-size: 0.8rem;
    font-weight: 300;
    color: $text_color_light;
  }
}

/* ----------------------------- STATES
*/

.is_hidden {
  display: none;
}
.is_active_block {
  display: block;
}
.is_active_inline {
  display: inline
}

/* ----------------------------- THEME
*/

/* ----------------------------- LIMBO
*/
