
// ------------------------------ SASS

// ------------------------------------ helpers

@import "sass/helpers/reset";
@import "sass/helpers/clearfix";
@import "sass/helpers/typesize";
@import "sass/helpers/fonts";
@import "sass/helpers/variables";
@import "sass/helpers/box-sizing";
@import "sass/helpers/placeholders";
@import "sass/helpers/mixins";
@import "sass/components/icons";

/* ----------------------------- BASE
*/

body {
  background-color: $background_color;
}
a {
  display: block;
  text-decoration: none;
  color: $text_color;
  &:hover {
    color: $text_hover_color
  }
}

/* ----------------------------- LAYOUT
*/
/* ----------------------------- MODULES
*/

.header {
  width: 100vw;
  height: 60px;
  border-bottom: 1px solid $border_color;
}
.header__icon {
  display: block;
  float:left;
  @extend %min;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.header__logo {
  position: relative;
  float: left;
  width: calc(100% - 120px);
  height: 60px;
  text-align: center;
  img {
    @extend %min;
    width: 65px;
    height: 60px;
  }
}

/* ------------------------------------ ion icons
*/

.ion-ios-search-strong {
  font-size: 20px;
}
.ion-ios-circle-outline {
  font-size: 1.8rem;
  position: absolute;
  right: 18px;
  top: 1px;
}
.ion-navicon {
  font-size: 2.3rem;
}
.ion-ios-close-empty {
  font-size: 3rem;
}

/* ------------------------------------ dropdown nav
*/

.dropdown {
  background-color: $background_color_elements;
  border-bottom: 1px solid $border_color;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  nav {
    padding: 1.4em;
    a {
      padding: .6em 0;
      color: fade-in($text_color, 0.3)
    }
  }
}

/* ----------------------------- STATES
*/

.is_hidden {
  display: none;
}
.is_active_block {
  display: block;
}
.is_active_inline {
  display: inline
}

/* ----------------------------- THEME
*/

/* ----------------------------- LIMBO

.nav {
  .nav__item {
    display: inline-block;
    .nav__link {
      padding: 0.2rem;
      font: {
        family: Gotham, sans-serif;
        size: 0.7rem;
      }
      &:hover {
        color: $nav_link_hover_color;
      }
    }
  }
}
.nav__top {
  float: right;
  margin-right: 50px;
  color: $nav_link_color;
  @extend .nav;
}

*/
