/* ------------------------------------ reset
*/
/* http://meyerweb.com/eric/tools/css/reset/
   2. v2.0 | 20110126 License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500");
@import url("http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ------------------------------------ clearfix
*/
.clearfix::before,
.clearfix::after {
  content: "";
  display: table; }

.cleafix::after {
  clear: both; }

.clearfix {
  clear: both;
  *zoom: 1; }

/* ------------------------------------ typo (font-size 16px)
*/
html {
  font-size: 16px; }

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 13px; }

strong {
  font-weight: 700; }

cite, em {
  font-style: italic; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.movie__header, .feature__header, .schedule__time {
  text-transform: uppercase;
  font-variant: small-caps;
  letter-spacing: 0.02em; }

.movie__header, .feature__header {
  font-weight: 500; }

img, video, embed, object {
  display: block;
  max-width: 100%;
  height: auto; }

/* ----------------------------- BASE
*/
html {
  font-size: 16px; }

body {
  background-color: #0a0a0a;
  color: rgba(255, 255, 255, 0.48); }

a {
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.48);
  cursor: pointer; }
  a:hover {
    color: rgba(255, 255, 255, 0.68); }

/* ----------------------------- LAYOUT
*/
.wrapper_8 {
  padding: 8px; }

.light-bg {
  background-color: #1f1f1f; }

/* ----------------------------- MODULES
*/
.header {
  width: 100vw;
  height: 69px;
  border-bottom: 1px solid #1f1f1f; }

.header__icon {
  display: block;
  float: left;
  width: 55px;
  height: 69px;
  line-height: 69px;
  text-align: center; }

.header__logo {
  position: relative;
  float: left;
  width: calc(100% - 2 * 55px);
  height: 69px; }
  .header__logo img {
    width: 65px;
    height: 69px;
    margin: 0 auto; }

/* ------------------------------------ ion icons
*/
.ion-ios-search-strong {
  font-size: 20px; }

.ion-ios-circle-outline {
  font-size: 1.8rem;
  position: absolute;
  right: 15px;
  top: 0px; }

.ion-navicon {
  font-size: 2.3rem; }

.ion-ios-close-empty {
  font-size: 3rem; }

/* ------------------------------------ menu
*/
.menu {
  position: relative;
  height: 254px;
  background-color: #1f1f1f;
  border-bottom: 1px solid #292929; }

.menu__block, .menu__block_left, .menu__block_right, .menu__block_middle {
  padding: 16px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px; }

.menu__block_left {
  float: left;
  width: 62.5%; }

.menu__block_right {
  float: left;
  width: 37.5%;
  min-height: 254px;
  border-left: 1px solid #292929;
  text-transform: capitalize;
  font-size: 10px; }

.menu__block_middle {
  position: absolute;
  bottom: 0;
  left: 0; }

.menu__link, .menu__link_right {
  padding: .6em 0;
  color: rgba(255, 255, 255, 0.88); }

.menu__link_right {
  color: rgba(255, 255, 255, 0.48); }

.menu__link_feat {
  padding-top: 1em;
  color: #caad2d; }

/* ------------------------------------ search
*/
.search {
  background-color: #1f1f1f;
  border-bottom: 1px solid #292929;
  padding: 16px;
  clear: both; }

.search__input {
  width: 100%;
  padding: 4px 0;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: #292929;
  background: transparent;
  font-size: 1.05rem;
  letter-spacing: .01rem;
  color: rgba(255, 255, 255, 0.68);
  outline: 0;
  transition: border-color 0.15s linear; }
  .search__input:focus {
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #484848; }

/* ------------------------------------ items
*/
.movies {
  padding: 0 20px;
  margin-bottom: 24px;
  border-top: 1px solid #292929; }

.movie__content {
  padding-top: 16px;
  margin-bottom: 24px;
  font-size: 0.8rem; }

.movie__header {
  padding-bottom: 1px;
  font-size: 0.65rem; }

.movie__ep-title {
  font-size: 1.1rem;
  text-transform: capitalize;
  font-weight: 300;
  letter-spacing: 0.021em;
  color: #fff; }

.movie__text {
  padding: 10px 0 12px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.68); }

/* ------------------------------------ feature items
*/
.feature__content {
  padding: 16px 12px;
  font-size: 0.8rem;
  background-color: #1f1f1f; }

.feature__header {
  font-size: 0.7rem;
  color: #a99026; }
  .feature__header:hover {
    color: #caad2d; }

.feature__text {
  padding: 12px 0;
  font-weight: 300; }

/* ------------------------------------ feature links
*/
.feature__link {
  text-align: right;
  line-height: 1.5rem;
  height: 1.5rem;
  color: #a99026; }
  .feature__link:hover {
    color: #caad2d; }

.feature__link_text {
  display: inline-block;
  vertical-align: top;
  font-size: 0.62rem;
  letter-spacing: 0.12rem;
  text-transform: uppercase; }

.feature__link_arrow {
  display: inline-block;
  vertical-align: top;
  font-size: 1.2em; }

/* ------------------------------------ schedule
*/
.schedule {
  padding: 20px 12px 12px; }

.schedule__item {
  padding: 10px 0;
  border-bottom: 1px solid #292929;
  font-size: 0.8rem;
  font-weight: 300; }

.schedule__time {
  font-size: 1em; }
  .schedule__time .schedule__time_sup {
    position: relative;
    top: -0.27em;
    font-size: 0.7em; }

.schedule__title {
  font-size: 1em;
  color: rgba(255, 255, 255, 0.68); }

div:nth-last-of-type(1) {
  border-bottom-color: transparent; }

/* ------------------------------------ channels

footer {
  padding: 0 8px;
}
.channel {
  border-top: 1px solid $border_color;
}
.footer__primary {
  padding: 20px 12px;
  background-color: $background_color_elements;
}
.channel__content {
  padding: 16px 0;
}
.channel__img {
  width: auto;
  height: 28px;
}
.channel__text {
  font-size: 0.7rem;
}
.channel__link {
  text-align: left;
}

*/
/* ----------------------------- STATES
*/
.is_hidden {
  display: none; }

.is_active_block {
  display: block; }

.is_active_inline {
  display: inline; }

/* ----------------------------- THEME
*/
/* ----------------------------- LIMBO
*/

/*# sourceMappingURL=hbo.css.map */
