/* ------------------------------------ reset
*/
/* http://meyerweb.com/eric/tools/css/reset/
   2. v2.0 | 20110126 License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ------------------------------------ clearfix
*/
.clearfix::before,
.clearfix::after {
  content: "";
  display: table; }

.cleafix::after {
  clear: both; }

.clearfix {
  clear: both;
  *zoom: 1; }

/* ------------------------------------ typo (font-size 16px)
*/
@font-face {
  font-family: "Gotham";
  src: url("sass/components/GothamSSm-Book.ttf") format("truetype"); }
body {
  font-family: "Gotham", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 13px; }

strong {
  font-weight: 700; }

cite, em {
  font-style: italic; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* ----------------------------- BASE
*/
body {
  background-color: #0a0a0a; }

a {
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.48); }
  a:hover {
    color: rgba(255, 255, 255, 0.68); }

/* ----------------------------- LAYOUT
*/
/* ----------------------------- MODULES
*/
.header {
  width: 100vw;
  height: 70px;
  border-bottom: 1px solid #292929; }
  .header .header__icon {
    display: block;
    float: left;
    width: 55px;
    height: 70px;
    line-height: 70px;
    text-align: center; }
  .header .header__logo {
    position: relative;
    float: left;
    width: calc(100% - 2 * 55px);
    height: 70px;
    text-align: center; }
    .header .header__logo img {
      width: 65px;
      height: 70px; }

/* ------------------------------------ ion icons
*/
.ion-ios-search-strong {
  font-size: 20px; }

.ion-ios-circle-outline {
  font-size: 1.8rem;
  position: absolute;
  right: 15px;
  top: 1px; }

.ion-navicon {
  font-size: 2.3rem; }

.ion-ios-close-empty {
  font-size: 3rem; }

/* ------------------------------------ menu
*/
.menu {
  position: relative;
  height: 254px;
  background-color: #1f1f1f;
  border-bottom: 1px solid #292929; }
  .menu .menu__block, .menu .menu__block_left, .menu .menu__block_right, .menu .menu__block_middle {
    padding: 16px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px; }
  .menu .menu__block_left {
    float: left;
    width: 62.5%; }
  .menu .menu__block_right {
    float: left;
    width: 37.5%;
    min-height: 254px;
    border-left: 1px solid #292929;
    text-transform: capitalize;
    font-size: 10px; }
  .menu .menu__block_middle {
    position: absolute;
    bottom: 0;
    left: 0; }
  .menu .menu__link, .menu .menu__link_right {
    padding: .6em 0;
    color: rgba(255, 255, 255, 0.88); }
  .menu .menu__link_right {
    color: rgba(255, 255, 255, 0.48); }
  .menu .menu__link_feat {
    padding-top: 1em;
    font-weight: 100;
    color: #caad2d; }

.search {
  background-color: #1f1f1f;
  border-bottom: 1px solid #292929;
  min-height: 50px; }

/* ----------------------------- STATES
*/
.is_hidden {
  display: none; }

.is_active_block {
  display: block; }

.is_active_inline {
  display: inline; }

/* ----------------------------- THEME
*/
/* ----------------------------- LIMBO

.nav {
  .nav__item {
    display: inline-block;
    .nav__link {
      padding: 0.2rem;
      font: {
        family: Gotham, sans-serif;
        size: 0.7rem;
      }
      &:hover {
        color: $nav_link_hover_color;
      }
    }
  }
}
.nav__top {
  float: right;
  margin-right: 50px;
  color: $nav_link_color;
  @extend .nav;
}

*/

/*# sourceMappingURL=hbo.css.map */
