
// ------------------------------ SASS

// ------------------------------------ helpers

@import "sass/helpers/reset";
@import "sass/helpers/clearfix";
@import "sass/helpers/typesize";
@import "sass/helpers/fonts";
@import "sass/helpers/variables";
@import "sass/helpers/box-sizing";
@import "sass/helpers/placeholders";
@import "sass/helpers/mixins";
@import "sass/components/icons";

/* ----------------------------- BASE
*/

body {
  background-color: $background_color;
}
a {
  display: block;
  text-decoration: none;
  color: $text_color;
  &:hover {
    color: $text_hover_color
  }
}

/* ----------------------------- LAYOUT
*/
/* ----------------------------- MODULES
*/

.header {
  width: 100vw;
  height: 70px;
  border-bottom: 1px solid $border_color;
  .header__icon {
    display: block;
    float:left;
    width: 55px;
    height: 70px;
    line-height: 70px;
    text-align: center;
  }
  .header__logo {
    position: relative;
    float: left;
    width: calc(100% - 2 * 55px);
    height: 70px;
    text-align: center;
    img {
      width: 65px;
      height: 70px;
    }
  }
}

/* ------------------------------------ ion icons
*/

.ion-ios-search-strong {
  font-size: 20px;
}
.ion-ios-circle-outline {
  font-size: 1.8rem;
  position: absolute;
  right: 15px;
  top: 1px;
}
.ion-navicon {
  font-size: 2.3rem;
}
.ion-ios-close-empty {
  font-size: 3rem;
}

/* ------------------------------------ menu
*/

.menu {
  position: relative;
  height: 254px;
  background-color: $background_color_elements;
  border-bottom: 1px solid $border_color;
  .menu__block {
    padding: 16px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .menu__block_left {
    @extend .menu__block;
    float: left;
    width: 62.5%;
  }
  .menu__block_right {
    @extend .menu__block;
    float: left;
    width: 37.5%;
    min-height: 254px;
    border-left: 1px solid $border_color;
    text-transform: capitalize;
    font-size: 10px;
  }
  .menu__block_middle {
    @extend .menu__block;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .menu__link {
    padding: .6em 0;
    $amount: .4;
    color: fade-in($text_color, $amount);
  }
  .menu__link_right {
    @extend .menu__link;
    color: $text_color
  }
  .menu__link_feat {
    padding-top: 1em;
    font-weight: 100;
    color: #caad2d;
  }
}

.search {
  background-color: $background_color_elements;
  border-bottom: 1px solid $border_color;
  min-height: 50px;
}


/* ----------------------------- STATES
*/

.is_hidden {
  display: none;
}
.is_active_block {
  display: block;
}
.is_active_inline {
  display: inline
}

/* ----------------------------- THEME
*/

/* ----------------------------- LIMBO

.nav {
  .nav__item {
    display: inline-block;
    .nav__link {
      padding: 0.2rem;
      font: {
        family: Gotham, sans-serif;
        size: 0.7rem;
      }
      &:hover {
        color: $nav_link_hover_color;
      }
    }
  }
}
.nav__top {
  float: right;
  margin-right: 50px;
  color: $nav_link_color;
  @extend .nav;
}

*/
