/* ------------------------------------ feature header
*/

.feature__header {
  @extend %small-caps-header;
  font-size: 0.7rem;
  color: #a99026;
  &:hover {
    color: #caad2d;
  }
}

/* ------------------------------------ feature links
*/

.feature__link {
  text-align: right;
  line-height: 1.5rem;
  height: 1.5rem;
  color: #a99026;
  cursor: pointer;
  &:hover {
    color: #caad2d;
  }
}
.feature__link_text {
  display: inline-block;
  vertical-align: top;
  font-size: 0.62rem;
  letter-spacing: 0.12rem;
  text-transform: uppercase;
}
.feature__link_arrow {
  display: inline-block;
  vertical-align: top;
  font-size: 1.2em;
}
