/* ------------------------------------ ion icons
*/

.ion-ios-search-strong {
  font-size: 20px;
}
.ion-ios-circle-outline {
  font-size: 1.8rem;
  position: absolute;
  right: 15px;
  top: 0px;
}
.ion-navicon {
  font-size: 2.3rem;
}
.ion-ios-close-empty {
  font-size: 3rem;
}
