/* ------------------------------------ placeholders
*/

%small-caps {
  text-transform: uppercase;
  font-variant: small-caps;
  letter-spacing: 0.02em;
}
%small-caps-header {
  @extend %small-caps;
  font-weight: 500;
}
