// ------------------------------------ Placeholders

%min {
  min-width: 48px;
  min-height: 48px;
}

%feature {
  font-weight: 100;
  color: #caad2d;
}
%small-caps {
  text-transform: uppercase;
  font-variant: small-caps;
  letter-spacing: 0.02em;
}
%small-caps-header {
  @extend %small-caps;
  font-weight: 500;
}
