// ------------------------------------ Variables

$background_color: #0a0a0a;
$background_color_elements: #1f1f1f;

$border_color: #292929;

$text_color: rgba(255,255,255,.48);
$text_hover_color: fade-in($text_color, 0.2);

$font_Open_sans: 'Open Sans', sans-serif;
