// ------------------------------------ Variables

$main_bg_color: #1f1f1f;
$bg_color: #0a0a0a;

$color: #1f1f1f;
$link_color: rgba(255,255,255,.48);
$link_hover_color: fade-in($link_color, 0.2);

$font_Open_sans: 'Open Sans', sans-serif;
