/* ------------------------------------ variables
*/


$header_height: 69px;
$header_elem_width: 69px;

$background_color: #0a0a0a;
$background_color_elements: #1f1f1f;

$border_color: #292929;
$border_color_light: #484848;
$border_ultra_light: #1f1f1f;

$text_color: rgba(255,255,255,.48);
$text_color_light: fade-in($text_color, 0.2);

$font_Open_sans: 'Open Sans', sans-serif;
